#templates {
    display: none;
}

small {
    position: fixed;
    bottom: 4px;
    right: 4px;
}

#library .book {
    background: #ccc;
    width: 200px;
    float: left;
    padding: 1px 20px;
}

#library .book h3 {
    font-style: italic;
}

#library .book h5 {
    font-weight: normal;
}
